@model IEnumerable<CostManagementSystem.Web.Models.CostRequests.CostRequestReadOnlyVM>

@{
    ViewData["Title"] = "Index";
}

<h3>Index</h3>

<p>
    <a asp-action="Create" class="btn btn-outline-primary">Create</a>


</p>
<div class="table-responsive">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    Cost
                </th>
                <th>
                    Date
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Project)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Employee)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Period)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Amount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.VAT)
                </th>
                <th>
                    Status
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RequestorId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ReviewerId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RequestComment)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CostCode.CostName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CostDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Project.ProjectName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Employee.FirstName) @Html.DisplayFor(modelItem => item.Employee.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Period.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Amount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.VAT)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CostRequestStatus.Name)

                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Requestor.FirstName) @Html.DisplayFor(modelItem => item.Requestor.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Reviewer.FirstName) @Html.DisplayFor(modelItem => item.Reviewer.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RequestComment)
                    </td>
                    <td>
                        @if (item.CostRequestStatus.Name == "Pending")
                        {
                            <form asp-action="Cancel">
                                <input type="hidden" asp-for="@item.Id" name="id"/>
                                <input type="submit" value="Cancel" class="btn btn-outline-danger" />

                            </form>
                        }
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-primary">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-info">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger">Delete</a>
                        <form asp-action="Approve" asp-route-id="@item.Id" method="post">
                            <button type="submit" class="btn btn-outline-success">Approve</button>
                        </form>
                        
                            
            </td>
        </tr>
}
    </tbody>
</table>
</div>
