@model EmployeeCostRequestListVM

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

    ViewBag.Title = "View Cost Requests";
}

<h3>Admin Cost Requests</h3>
<div class="row">   
    <div class="col">
        <div class="card">
            <div class="card-body text-center">
                <h3 class="card-title text-primary">@Model.TotalRequests</h3>
                <h5 class="card-text">@Html.DisplayNameFor(model => model.TotalRequests)</h5>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card">
            <div class="card-body text-center">
                <h3 class="card-title text-primary">@Model.ApprovedRequests</h3>
                <h5 class="card-text">@Html.DisplayNameFor(model => model.ApprovedRequests)</h5>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card">
            <div class="card-body text-center">
                <h3 class="card-title text-primary">@Model.PendingRequests</h3>
                <h5 class="card-text">@Html.DisplayNameFor(model => model.PendingRequests)</h5>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card">
            <div class="card-body text-center">
                <h3 class="card-title text-primary">@Model.RejectedRequests</h3>
                <h5 class="card-text">@Html.DisplayNameFor(model => model.RejectedRequests)</h5>
            </div>
        </div>
    </div>
</div>

                <hr/>
<h2>Cost Requests</h2>
<hr/>
@if(Model.CostRequests.Count==0)
{<div class="alert alert-info">
    <h4> there are no request at this time</h4>

</div>}
else{
<div class="table-responsive">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CostRequests[0].Name)
                </th>
                <th>
                    Cost
                </th>
                <th>
                    Date
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CostRequests[0].Project)
                </th>
                @*   <th>
                    @Html.DisplayNameFor(model => model.Employee)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Period)
                </th> *@
                <th>
                    @Html.DisplayNameFor(model => model.CostRequests[0].Amount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CostRequests[0].VAT)
                </th>
                <th>
                    Status
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CostRequests[0].RequestorId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CostRequests[0].ReviewerId)
                </th>
                @* <th>
                    @Html.DisplayNameFor(model => model.RequestComment)
                </th> *@
                <th></th>
            </tr>
        </thead>
        <tbody>
                @foreach (var item in Model.CostRequests)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CostCode.CostName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CostDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Project.ProjectName)
                    </td>
                    @*        <td>
                        @Html.DisplayFor(modelItem => item.Employee.FirstName) @Html.DisplayFor(modelItem => item.Employee.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Period.Name)
                    </td> *@
                    <td>
                        @Html.DisplayFor(modelItem => item.Amount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.VAT)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CostRequestStatus.Name)

                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Requestor.FirstName) @Html.DisplayFor(modelItem => item.Requestor.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Reviewer.FirstName) @Html.DisplayFor(modelItem => item.Reviewer.LastName)
                    </td>
                    @* <td>
                        @Html.DisplayFor(modelItem => item.RequestComment)
                    </td> *@
                    <td>
                        @if (item.CostRequestStatus.Name == "Pending")
                        {
                                <a asp-action="Review" asp-route-id="@item.Id" class="btn btn-outline-primary">Review</a>

                            @*        <form asp-action="Cancel">
                                <input type="hidden" asp-for="@item.Id" name="id"/>
                                <input type="submit" value="Cancel" class="btn btn-outline-danger" />

                            </form> *@
                        }
                       @*  <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-primary">Edit</a>
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-info">Details</a>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger">Delete</a>
                        <a asp-action="Approve" asp-route-id="@item.Id" method="post">
                            <button type="submit" class="btn btn-outline-success">Approve</button> *@
                       @*  </a> *@


                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
}